.slide-in.slider
  .row.preview-wrapper
    .col-sm-2.col-sm-offset-1
      = image_tag @movie.poster, class: 'img-preview'
    .col-sm-7
      %h4= @movie.title.titleize
      %h5= @movie.storyline

