.container-fluid

  %h1 New movie

  = render 'form'

  - if params[:search_title].present?
    .row
      .col-sm-12
        Sorry no results found...
        - @results.each do |result|
          = link_to result.title, new_movie_path(query: result.title) unless result.kind_of?(Array)

  = link_to 'Back', movies_path