.container-fluid
  %h1.text-center My Movies
  .row
    .col-sm-8.col-sm-offset-2.text-center
      .well.movie-index-wrapper
        = image_tag @movie.poster, class: 'image-fit'
  .row
    %table.table
      %tbody
        - @movies.each do |m|
          %tr
            %td= link_to m.title, m