$color_border_dark: #4A4A4A;
$color_search_bar: #DDDDDD;
$color_button_primary: #4dc846;
$color_movie_preview_bg: #f6eedb;
$color_links: darken(#1fad9f, 10%);
$bgDefault      : #1fad9f;
$bgHighlight    : #4dc7bb;
$colDefault     : #ffffff;
$colHighlight   : #f6eedb;
$dropDown       : false;