.container-fluid
  .row
    .col-sm-6.col-sm-offset-3
      %h1 Welcome to the Movie Index
      %table.table
        %tbody
          - @movies.each do |movie|
            %tr
              %td= movie.title
              %td= movie.rating
